
<table>
<h2>SMID list last revised 10-27-2011</h2>


[% FOREACH s = all_smmids %]

<tr>
<td><a href="/detail/[% s.get_smmid_for_link %]/">[% s.get_smmid %]</a></td>
<td>[% s.get_name %]</td>
</tr>
[% END %]
</table>
