

<div id="content1">

<h2>How to cite SMID DB</h2><br />

If you use materials from SMID DB for your research, please cite us accordingly:<br/><br/>

<u><i>C. elegans</i> Small Molecule Identifier Database (SMID DB)</u>. http://smid-db.org. 27 Oct. 2011. Boyce Thompson Institute, Cornell University. date accessed. 

<br /><br /><br /><br />

</div>
