

<div id="content1">

<h2>How to cite SMID DB</h2><br />

If you use materials from SMID DB for your research, please cite us accordingly:

<u><i>C. elegans</i> Small Molecule Identifier Database (SMID DB)</u>. Judkins, Joshua C.; Mueller, Lukas; Schroeder, Frank C.; 27 Oct. 2011. Boyce Thompson Institute, Cornell University. date accessed. <http://smid-db.org>.


<br /><br /><br /><br />

</div>
